<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date %level %logger %thread - %message%n</pattern>
    </encoder>
  </appender>

  <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
    <syslogHost>logsene-syslog-receiver.eu.sematext.com</syslogHost>
    <port>514</port>
    <facility>LOCAL0</facility>
    <suffixPattern>{{TOKEN}}:@cee: {"thread":"%thread", "logger":"%logger",
      "message":"%message", "throwable":"%throwable"}
    </suffixPattern>
  </appender>

  <root level="info">
    <appender-ref ref="SYSLOG"/>
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
